*{box-sizing:border-box;
margin:0;
}
.about_container{
    min-height:100vh;
    height:auto;
    margin-right:100px;
    margin-left:100px;
    margin-top:20px;
    margin-top:6rem;
}
.about_wrapper{
    background:#f2f4f6;
    display:flex;
    justify-content:center;
    flex-direction: column;
   border-radius:20px;
   padding:30px;
   text-align:center;
}
.profilePic{}

.about_container h2{
    text-align:center;
    padding:20px;
}
.about_wrapper p{ padding:10px;
font-size:20px;}
.skill_container{
    display:flex;

}