*{box-sizing:border-box;
margin:0;
}
.about_container{
    min-height:100vh;
    height:auto;
    margin-right:100px;
    margin-left:100px;
    margin-top:3.1rem;
}
.about_wrapper{
    /* background:#f2f4f6; */
    display:flex;
    flex-direction: column;
    justify-content:center;
    padding:30px;
    /* align-content:center; */
  align-items: center;
}
.about {
    text-align:center;
    padding:20px;
}
.about_wrapper p{ 
    /* padding:10px;  */
     font-size:20px;}
.headerProf{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    padding-bottom:30px;
    width:120%;
    background: #313030;
    height:auto;
}
.profilePic{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content:center;
    margin:20px;
}
.personal_title{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-content:center;
    color:#fff;
    margin-bottom:20px;
}
.sociallinks{ padding:20px;}
.sociallinks a{
    /* margin:20px; */
    padding:15px;
    color:#fff;
}
.sociallinks a:hover{
    color:blue;
}

.skill_container{
    display:flex;
    justify-content:space-between;
    margin-top:20px;

}
.skill_about{
    width:55%;
}
.skill_wrapper{
    width:30%;
}