.blog_container{display:flex;
    flex-direction:column;
    padding:50px;
margin-left:100px;
margin-right:100px;
min-height:100vh;
height:auto;
/* width:100%; */
height:auto;}
.blog_wrapper{
background:#ddd;
margin-right:50px;
margin-left:50px;
 
}

.blog_wrapper h1{ 
    text-align:center;
}
.blog_wrapper p{ 
    font-size:20px;
    padding:15px;
}