*{box-sizing:border-box;
margin:0;
padding:0;}
.home_container{
    display:flex;
    flex-direction:column;
    min-height:90vh;
    height:auto;
    margin:20px 50px 20px 50px;

    position:relative;
}
.landing_page{ display:flex;
    width:100%;
    background:#dedede;
    /* padding-bottom:20px; */
}
.landing_page img{
    min-height:20vh;
    max-height:80vh;
    width:100%;
    opacity:.5;

}
.landing_message{
    display:flex;
    flex-direction:column;
    position: absolute;
    top:200px;
    left:250px;
    color:#fff;
    
}
.landing_message h2{
   font-size:40px;
   padding:20px;

}
.landing_message button {
    font-size:30px;
    padding:10px;
    width:200px;
    background:rgb(67, 102, 173);
    border:none;
    outline:none;
    color:#fff;
    border-radius: 10px;
}

.btn_primary a{text-decoration:none;
}
.landing_message button:hover{
    background:#fff;
    color:rgb(67, 102, 173);
}
.wordpress_excerpt_home{
    display:flex;
    flex-direction:column;
    justify-content: center;
   align-items:center;
    /* margin-right:150px;
    margin-left:250px; */
    margin:20px;
    height:auto;
    
}
.wordpress_excerpt_wrapper{
    display:flex;
    justify-content: center;
    flex-direction:column;
    text-align:center;
    width:800px; 
    background:#dedede;
    padding:50px;
    border-radius: 10px;
    box-shadow:2px 5px 4px 3px #ddd;
    margin-bottom:30px;
}
.wordpress_excerpt_wrapper h2{
    margin-bottom:20px;
    border-bottom:2px solid rgb(67, 102, 173);

}
.wordpress_excerpt_wrapper p{font-size:20px;}
.wordpress_excerpt_wrapper a{
text-decoration:none;
}
.wordpress_excerpt_wrapper button{
    font-size:20px;
    border:none;
    outline:none;
    background:rgb(67, 102, 173);
    color:#fff;
    padding:8px 10px;
    border-radius:5px;
    margin-top:20px;
}
.wordpress_excerpt_wrapper button:hover{background:#fff;
color:rgb(67, 102, 173);}
.excerpt_wrapper{
    display:flex;
    justify-content: center;
    flex-direction:column;
    text-align:center;
    width:800px; 
    background:#dedede;
    padding:50px;
    border-radius: 10px;
    box-shadow:2px 5px 4px 3px #ddd;
    margin-bottom:30px;
}
.excerpt_wrapper h2{
    margin-bottom:20px;
    border-bottom:2px solid rgb(67, 102, 173);

}
.excerpt_wrapper p{font-size:20px;}
.excerpt_wrapper a{
text-decoration:none;
}
.excerpt_wrapper button{
    font-size:20px;
    border:none;
    outline:none;
    background:rgb(67, 102, 173);
    color:#fff;
    padding:8px 10px;
    border-radius:5px;
    margin-top:20px;
}
.excerpt_wrapper button:hover{background:#fff;
color:rgb(67, 102, 173);}

/* media queries */
@media only screen and (max-width:968px){
   .landing_message{
    text-align:center;
    left:2vh;
    top:3vh;
   }
}
@media only screen and (max-width:768px){
.landing_message button{font-size:medium;
padding:5px 8px;
width:auto;}
.landing_message h2{
    font-size:3.5vw;
    word-wrap:break-word;
}
.wordpress_excerpt_wrapper{
    width:auto;
}
.wordpress_excerpt_wrapper button{
    font-size:medium;
    padding:5px 8px;
    width:auto;  
}
.excerpt_wrapper{
    width:auto;
}
.excerpt_wrapper button{
    font-size:medium;
padding:5px 8px;
width:auto;
}
.excerpt_wrapper p{
    word-wrap:break-word;}
}
@media only screen and (max-width:400px){
    .landing_message{top:0vw;}
    .landing_message h2{
        font-size:2.5vh;
        margin-left:0;
        margin-right:0;
        margin-bottom:0;
        padding:0;
    }
    .landing_message button{
        font-size:2.0vh;
        margin-top:0px;
    } 
    .excerpt_wrapper button{
        font-size:2.0vh;
        margin-top:0px;
    }

}