*{box-sizing:border-box;
margin:0;
padding:0;}
.navbar_container{
    display:flex;
    background:rgb(18, 216, 18);
    height:80px;
    width:100%;

}
.navbar_wrapper{display:flex;
    justify-content: center;
    text-align:center;
    width:100%;
    height:100%;
}
.active{
    border-bottom:7px solid #fff;
}
.inactive{
    border-bottom:none;
}
.navlinks{
    display:flex;
    justify-content:center;
    text-align:center;
}
.navlinks a{
    text-decoration:none;
    color:#000;
    font-size:20px
}
.navlinks ul{display:flex;
list-style:none;
margin:0 0 0 40px;  
}
.navlinks ul li{margin:40px 20px 20px 20px;
padding-bottom:35px;}
.navlinks ul li span{padding-left:10px;}
.navlinks ul li:hover{
    /* background:rgb(202, 198, 198); */
    border-bottom:7px solid #fff;

}
@media only screen and (max-width:968px){

}
@media only screen and (max-width:768px){
.navlinks{display:none;}
}
@media only screen and (max-width:400px){
    .navlinks{display:none;}
}