*{box-sizing:border-box;
margin:0;}
.form-container{
    width:1000px;
    height:100vh;
    
}
.pages{display:flex;
}
.pages ul{display:flex;
}
.pages ul li{list-style:none;
border:2px solid blue;
margin:2px;
padding:5px;}
.pages ul li:hover{
    color:#fff;
    background:blue;
}